<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline">
                    <li>
                        <a href="{{ site.url }}/">Home</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#contact">Contact</a>
                    </li>
                </ul>
                <p class="copyright text-muted small">Copyright &copy;2017 {{ site.title }} All Rights Reserved</p>
            </div>
            <div class="col-md-4">
                Landing Page is a free to use, open source Bootstrap theme created by <a href="http://startbootstrap.com/">Start Bootstrap</a>. Images: <a href="https://www.flickr.com/photos/rosemorelli/14838103960/in/faves-131104016@N08/">Rose Morelli</a>, <a href="https://www.flickr.com/photos/drainrat/">darkday</a>, <a href="https://www.flickr.com/photos/calliope/9314625007/in/faves-131104016@N08/">liz west</a>, <a href="https://www.pexels.com/photo/stainless-steel-fence-near-brown-steel-railway-108994/">Athena Lam</a>, <a href="https://www.pexels.com/photo/office-working-app-computer-97077/">Negative Space</a>, <a href="https://www.pexels.com/photo/active-blowing-bubbles-child-344060/">Free Stock Pro</a>.
            </div>
        </div>
    </div>
</footer>

<!-- Google Analytics -->
