<!-- Page Content -->
<div class="content-section-lead"><iframe src="https://player.vimeo.com/video/167485155" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe><p><a href="https://vimeo.com/167485155">Music Cognition 2016 Course Introduction</a> from <a href="https://vimeo.com/user11692346">Kris Shaffer</a> on <a href="https://vimeo.com">Vimeo</a>.</p>

	<p>Also see the <a href="https://vimeo.com/167485374">video tour of D2L and this course website</a>.</p>

</div>

{% for post in site.posts reversed %}
  {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
    {% if thecycle == 'odd' %}
    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
<!--                    <hr class="section-heading-spacer"> -->
                    <div class="clearfix"></div>
                    <h2 class="section-heading">{{ post.title }}</h2>
                    {{ post.description }}
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="img/services/{{ post.image }}" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->
    {% else %}

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
<!--                    <hr class="section-heading-spacer"> -->
                    <div class="clearfix"></div>
                    <h2 class="section-heading">{{ post.title }}</h2>
                    {{ post.description }}
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                  <img class="img-responsive" src="img/services/{{ post.image }}" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->
    {% endif %}
{% endfor %}
